[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "yurukute.github.io"]
	path = yurukute.github.io
	url = git@github.com:yurukute/yurukute.github.io.git
