html {
    overflow: hidden;
}

.main {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
    align-items: center;
    max-width: none;
    height: calc(100vh - var(--header-height));
}

.main .profile,
.main .inner-section {
    min-height: calc(100vh - var(--header-height));
}

.main .section {
    scroll-snap-align: start;
    padding: 0px var(--gap);
}

.main .inner-section {
    padding: var(--gap) 0px;
}
