.timeline {
    position: relative;
}

.timeline .show {
    transform: translateX(0%);
    transition: all 0.5s ease-in-out;
}

.timeline .inner-section:after { /*vertical bar*/
    display: block;
    content: " ";
    width: 3px;
    height: calc(99% - var(--footer-height));
    left: 50%;
    position: absolute;
    background: var(--primary);
}

.timeline-item:nth-child(even) .duration,
.timeline-item:nth-child(even) .details {
    float: left;
    width: calc(50% - var(--gap));
}

.timeline-item:nth-child(odd) .duration,
.timeline-item:nth-child(odd) .details {
    float: right;
    width: calc(50% - var(--gap));
}

.timeline-item:nth-child(even) .duration {
    text-align: right;
}

.timeline-item .duration {
    margin: var(--gap);
    padding: 0px var(--gap);
    position: relative;
}

.timeline-item .duration:before { /*branches*/
    display: block;
    content: " ";
    height: 2px;
    width: 1rem;
    background-color: var(--primary);
    position: absolute;
    top: .5em;
    left: 0;
}

.timeline-item:nth-child(even) .duration:before {
    right: 0;
    left: initial;
}

.timeline-item .logo {
    width: 50%;
    margin: 0;
}

.timeline-item .location {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}

.timeline-item .location > h3 {
    margin-right: 10px;
}

.timeline-item .position {
    margin: 10px 0px;
}

.timeline-item ul {
    margin: 0 30px;
}

.timeline .info,
.timeline .description {
    color: var(--secondary);
    font-size: 14px;
    line-height: 1.6;
}

@media (max-width: 770px) {
    .timeline .inner-section:after { /*vertical bar*/
        left: 1.5rem;
    }

    .timeline-item:nth-child(even) .duration,
    .timeline-item:nth-child(odd) .duration {
        float: left;
        text-align: left;
        margin: 0;
        width: 100%;
        padding: 0px calc(var(--gap)*3)
    }

    .timeline-item .duration:before,
    .timeline-item:nth-child(even) .duration:before {
        left: 0.75rem;
    }
    
    .timeline-item:nth-child(even) .details,
    .timeline-item:nth-child(odd) .details {
        margin: var(--gap) 0px;
        float: right;
        width: 95%;
    }

    .timeline-item .logo {
        width: 25%;
    }
}
