{{ with .Site.GetPage "/experience.md" }}
<div class="timeline section" id="experience">
    <h1>{{ .Title }}</h1>
    <div class="inner-section">
        {{ range .Params.entries }}
        <div class="timeline-item">
            <h3 class="duration">{{ .duration }}</h3>
            <div class="details post-entry">
                {{ if .logo }}
                <img class="logo" src="{{ .logo }}">
                {{ end }}
                <div class="location">
                    <h3>{{ .name }}</h3>
                    <span class="info">
                        <i class="fa-solid fa-location-dot"></i>
                        {{ .location }}
                    </span>
                </div>
                <h2 class="position">{{ .position }}</h2>
                <div class="description">
                    {{ .summary }}
                    <ul>
                    {{ range .description }}
                        <li>{{ . }}</li>
                    {{ end }}
                </ul>
                </div>
                
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}